$headerHeight:60px;
.header{
	height: $headerHeight;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	height: $headerHeight;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	color: #909090;

	.menu-list{
		position: relative;
		font-size: 16px;
		color: #fff;
		line-height: $headerHeight;
		li{
			display: inline-block;
			a{
				display: block;
				width: 100px;
				text-decoration: none;
				text-align: center;
				color: #909090;

				&:hover{
					color: #007fff;
				}

			}
		}
		.active a{
			color: #007fff;
			font-weight: bold;
		}
	}
}