$headerHeight:60px;
.header{
	height: $headerHeight;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	height: $headerHeight;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	color: #909090;

	.header-box{
		font-size: 16px;
		line-height: $headerHeight;
		margin: 0 auto;
		width: 1080px;
		text-align: right;
	}

	.search-container{
		position: relative;

		.search-input{
			width: 200px;
            border: 1px solid hsla(0,0%,59.2%,.2);
            background-color: rgba(227,231,236,.2);
            align-items: center;
            justify-content: space-between;
            border-radius: 2px;
			color: #71777c;
			font-size: 14px;
			line-height:2;
			padding: 0 25px 0 5px;
			outline: none;

            &:focus{
				border: 1px solid #007fff;
			}
		}

		.search-btn{
			position: absolute;
			cursor: pointer;
			right: 5px;
			top: 20px;
		}

		.search-result{
			display: block;
			position: absolute;
			background: #fff;
			border: 1px solid #e6e6e6;
			font-size: 13px;
			padding: 5px 10px;
			right: 0;
			top: 46px;
			line-height: 2;
			width: 210px;
			text-align: left;

			.search-result-list{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			a{
				color: #71777c;
				text-decoration: none;
			}

			&:empty{
				display: none;
			}
		}

	}
	.menu-list{
		position: relative;
		z-index: 100;
		float: left;

		li{
			display: inline-block;
			a{
				display: block;
				width: 100px;
				text-decoration: none;
				text-align: center;
				color: #909090;

				&:hover{
					color: #007fff;
				}

			}
		}
		.active a{
			color: #007fff;
			font-weight: bold;
		}
	}

	.display-none{
		display: none;
	}
}